
body {
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    margin: auto;
    font-family: 'Outfit', sans-serif;

}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 15vh auto;
    background-color: #fff;
    border-radius: 5%;
    width: 30vw;
    padding: 2%;
}
img{
  max-width: 25vw;
  border-radius: 5%;
}
.text{
    justify-content: center;
    max-width: 25vw;
    margin: auto;
}
h1, p {
    line-height: 1.3em;
}
p {
    max-width: 25ch;
    margin: auto;
    font-size: 15px;
}